################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SE1RoutingLib
/SE1RoutingLib/bin/Debug/net5.0
/SE1RoutingLib/obj
/SE1RoutingLib.Test/bin/Debug/net5.0
/SE1RoutingLib.Test/obj
/S1RoutingLib.DistanceProviders/bin/Debug/net5.0
/S1RoutingLib.DistanceProviders/obj
/SE1RoutingLib/bin/Release/net5.0
/SE1RoutingLib.Test/bin/Release/net5.0
